<a href="https://colab.research.google.com/github/MeSamiulIslam/aiQuest/blob/main/assignment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
from sklearn.preprocessing import MinMaxScaler
m_m_s = MinMaxScaler()
from sklearn.preprocessing import MaxAbsScaler
m_a_s = MaxAbsScaler()
from sklearn.preprocessing import RobustScaler
r_s = RobustScaler()

In [2]:
url = 'https://raw.githubusercontent.com/MeSamiulIslam/aiQuest/main/supershops.csv'
df = pd.read_csv(url) #df = pd.read_csv(url)
df.head(5) ##to get the last 5 rows

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [3]:
x = df.drop('Profit', axis=1) #axis=1 for column

In [4]:
x.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [5]:
y=df['Profit']
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

#Standard Scaler

In [6]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Marketing Spend  50 non-null     float64
 1   Administration   50 non-null     float64
 2   Transport        49 non-null     float64
 3   Area             50 non-null     object
dtypes: float64(3), object(1)
memory usage: 1.7+ KB

In [7]:
for column in x.columns:
    if not x.dtypes[column] == object:
        x[column] = std.fit_transform(x[[column]])

x.head()

   Marketing Spend  Administration  Transport     Area
0         0.897913        0.560753   2.165287    Dhaka
1         1.955860        1.082807   1.929843      Ctg
2         1.754364       -0.728257   1.626191  Rangpur
3         1.554784       -0.096365   1.417348    Dhaka
4         1.504937       -1.079919   1.273550  Rangpur

#MinMax Scaler

In [8]:
clms = ['Marketing Spend', 'Administration', 'Transport']

In [9]:
df[clms] = m_m_s.fit_transform(df[clms])
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

#Maximum absolute Scaler

In [10]:
df[clms] = m_a_s.fit_transform(df[clms])
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

#Robust Scaler

In [11]:
df[clms] = r_s.fit_transform(df[clms])
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.345355   1.552016    Dhaka  192261.83
1         1.452113        0.697565   1.383714      Ctg  191792.06
2         1.303634       -0.524290   1.166654  Rangpur  191050.39
3         1.156567       -0.097977   1.017368    Dhaka  182901.99
4         1.119836       -0.761543   0.914576  Rangpur  166187.94